
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* 
font-family: 'Roboto', sans-serif;
*/

body {
  height: 100vh;
  margin: 0;
  background-color: #eee;
  position: absolute;
  font-family: "Roboto", sans-serif;
}

/* Styling Header with Navbar */

nav {
  position: relative;
  padding-top: 2%;
  left: 5%;
  width: 55%;
}

nav li {
  display: inline-block;
  padding-right: 15%;
}

ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav > ul > li a {
  color: #659d89;
  text-decoration: none;
}

#nav a:hover {
  display: block;
  color: #666;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
}

/* Styling Section 1: Work Responsibly */

section:nth-of-type(1) {
  height: 85vh;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

section h1 {
  color: #659d89;
  font-size: 3.5em;
  font-weight: 400;
  position: relative;
  margin: 10% 0 0 8%;
}

section:nth-of-type(1) p:nth-of-type(1) {
  font-size: 3em;
  font-weight: 400;
  position: relative;
  margin: 0 0 0 8%;
  width: 50%;
}
section:nth-of-type(1) p:nth-of-type(1)::before {
  content: "—";
}

section:nth-of-type(1) > p > a:nth-of-type(1) {
  color: #333;
  text-decoration: none;
  position: absolute;
  margin: 2% 0 0 8%;
}

section:nth-of-type(1) > p > a > img {
  width: 8%;
  opacity: 75%;
  padding: 0 5% 0 0;
}

section:nth-of-type(1) p a:nth-of-type(1):hover {
  text-decoration: underline;
}

section:nth-of-type(1) aside {
  text-align: right;
  position: relative;
  margin: 2% 10% 0 0;
}

section:nth-of-type(1) aside > ul > li > a > img {
  width: 2.5%;
  opacity: 25%;
}
section:nth-of-type(1) aside > ul > li > a > img:hover {
  opacity: 100%;
}

/* Section 2: What's your struggle */

section:nth-of-type(2) {
  height: 110vh;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

section:nth-of-type(2) h2 {
  font-size: 1.5em;
  font-weight: 400;
  position: relative;
  margin: 5% 0 0 8%;
}

section:nth-of-type(2) p {
  color: #333;
  margin-left: 8%;
}

section:nth-of-type(2) div img {
  width: 25%;
  justify-content: center;
  position: relative;
  margin: 1.8% 1.8%;
  
}

section:nth-of-type(2) div img:hover {
  box-shadow: 0 0 1em 0.3rem #ccc;
}

section:nth-of-type(2) img:first-of-type {
  margin-left: 10%;
}

/* Styling Section 3: Videos & Website links */

section:nth-of-type(3) {
  height: 365vh;
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
}

section:nth-of-type(3) h3 {
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  margin: 5% 0 0 8%;
}
/* --->> Styling for img's & videos description <<--- */

section:nth-of-type(3) p:nth-of-type(odd) {
  font-size: 0.8em;
  color: #666;
}
section:nth-of-type(3) div img:hover {
  box-shadow: 0 0 1em 0.3em #6e6e6e;
}

/*  #FOCUS by Tim Herrera  */

section:nth-of-type(3) div:nth-of-type(1) {
  text-align: center;
  margin: 5% 0 0 -25.5%;
}
section:nth-of-type(3) img:nth-of-type(1) {
  height: 24em;
  width: auto;
}

/* #SLEEP by JOE ROGAN */

section:nth-of-type(3) div:nth-of-type(2) {
  text-align: center;
  margin: 5% 0 0 25%;
}

/* #SLEEP by Hannah Devlin */

section:nth-of-type(3) div:nth-of-type(3) {
  text-align: center;
  margin: 5% 0 0 -25.5%;
}

/* #FOCUS by Matt D'Avella */

section:nth-of-type(3) div:nth-of-type(4) {
  text-align: center;
  margin: 5% 0 0 25%;
}

/* Footer Styling */

footer {
  height: 45vh;
  text-align: center;
  color: #666;
  justify-items: last baseline;
}

footer > p > a > img {
  width: 2%;
  opacity: 70%;
  padding: 0 2% 0 0;
}

footer p:nth-of-type(1) {
  padding-top: 10%;
  font-size: 1.5em;
}

footer a {
  text-decoration: none;
  color: #666;
}
footer a:hover {
  text-decoration: underline;
}

footer p:nth-of-type(2) {
  font-size: 0.7em;
  padding: 5% 0 2% 2%;
}

/* Hover Effect: IMG01 Section 2 */

.img01 {
  background-color: #892be265;
  display: inline-block;
  width: 18%;
  margin: 1.8% 1.8%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 35%;
}

.img01 * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.img01 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.img01 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.img01:hover:before,
.img01:hover:after {
  transform: scale(1);
  opacity: 1;
}

.img01:hover > img {
  opacity: 0.7;
}

.img01:hover figcaption {
  opacity: 1;
}

/* Hover Effect: IMG02 Section 2 */

.img02 {
  background-color: #892be265;
  display: inline-block;
  width: 18%;
  margin: 1.8% 1.8%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 30%;
}

.img02 * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.img02 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.img02 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.img02:hover:before,
.img02:hover:after {
  transform: scale(1);
  opacity: 1;
}

.img02:hover > img {
  opacity: 0.7;
}

.img02:hover figcaption {
  opacity: 1;
}
